# Python
__pycache__/
*.py[cod]

# Django
/media/
db.sqlite3

# Environment
.env*
.venv/

# OS
.DS_Store

# Virtualenv
venv/

# Testing
htmlcov/
.coverage

# IDE
.idea/

# Caches
.pytest_cache/
.ruff_cache/

# Logs
logs/
*.log

