{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content-body section custom-scroll">

            <div class="section-wrap section pt-120 pt-lg-80 pt-md-80 pt-sm-0 pt-xs-0 pb-120 pb-lg-80 pb-md-80 pb-sm-80 pb-xs-50">
                <div class="container">
                    <div class="row">

                        <!-- Blog Item -->
                        <div class="col-xl-4 col-md-6 col-12 mb-45 mb-xs-50">
                            <div class="blog-item">

                                <div class="blog-image">
                                    <a href="/blog/post/"><img src="{% static 'images/blog/blog-4.jpg' %}" alt=""></a>
                                </div>

                                <div class="blog-content">

                                    <h4 class="blog-title"><a href="/blog/post/">9 RIDICULOUS RULES ABOUT DESIGN</a></h4>

                                    <ul class="blog-meta">
                                        <li>Oct 18, 2019</li>
                                        <li><a href="#">Comments ( 04 )</a></li>
                                        <li>By <a href="#">Admin</a></li>
                                    </ul>

                                    <div class="blog-desc">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                                    </div>

                                    <div class="read-more"><a href="/blog/post/">READ MORE...</a></div>

                                </div>

                            </div>
                        </div>

                        <!-- Blog Item -->
                        <div class="col-xl-4 col-md-6 col-12 mb-45 mb-xs-50">
                            <div class="blog-item">

                                <div class="blog-image">
                                    <a href="/blog/post/"><img src="{% static 'images/blog/blog-5.jpg' %}" alt=""></a>
                                </div>

                                <div class="blog-content">

                                    <h4 class="blog-title"><a href="/blog/post/">10 BEST PRACTICES FOR DESIGN</a></h4>

                                    <ul class="blog-meta">
                                        <li>Oct 15, 2019</li>
                                        <li><a href="#">Comments ( 04 )</a></li>
                                        <li>By <a href="#">Admin</a></li>
                                    </ul>

                                    <div class="blog-desc">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                                    </div>

                                    <div class="read-more"><a href="/blog/post/">READ MORE...</a></div>

                                </div>

                            </div>
                        </div>

                        <!-- Blog Item -->
                        <div class="col-xl-4 col-md-6 col-12 mb-45 mb-xs-50">
                            <div class="blog-item">

                                <div class="blog-image">
                                    <a href="/blog/post/"><img src="{% static 'images/blog/blog-6.jpg' %}" alt=""></a>
                                </div>

                                <div class="blog-content">

                                    <h4 class="blog-title"><a href="/blog/post/">HOW I IMPROVE DESIGN ONE EASY</a></h4>

                                    <ul class="blog-meta">
                                        <li>Oct 9, 2019</li>
                                        <li><a href="#">Comments ( 04 )</a></li>
                                        <li>By <a href="#">Admin</a></li>
                                    </ul>

                                    <div class="blog-desc">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                                    </div>

                                    <div class="read-more"><a href="/blog/post/">READ MORE...</a></div>

                                </div>

                            </div>
                        </div>

                        <!-- Blog Item -->
                        <div class="col-xl-4 col-md-6 col-12 mb-45 mb-xs-50">
                            <div class="blog-item">

                                <div class="blog-image">
                                    <a href="/blog/post/"><img src="{% static 'images/blog/blog-7.jpg' %}" alt=""></a>
                                </div>

                                <div class="blog-content">

                                    <h4 class="blog-title"><a href="/blog/post/">5 WAYS TO AVOID DESIGN BURNOUT</a></h4>

                                    <ul class="blog-meta">
                                        <li>Sep 29, 2019</li>
                                        <li><a href="#">Comments ( 04 )</a></li>
                                        <li>By <a href="#">Admin</a></li>
                                    </ul>

                                    <div class="blog-desc">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                                    </div>

                                    <div class="read-more"><a href="/blog/post/">READ MORE...</a></div>

                                </div>

                            </div>
                        </div>

                        <!-- Blog Item -->
                        <div class="col-xl-4 col-md-6 col-12 mb-45 mb-xs-50">
                            <div class="blog-item">

                                <div class="blog-image">
                                    <a href="/blog/post/"><img src="{% static 'images/blog/blog-8.jpg' %}" alt=""></a>
                                </div>

                                <div class="blog-content">

                                    <h4 class="blog-title"><a href="/blog/post/">EXPERIMENT WE CAN ALL LEARN FROM</a></h4>

                                    <ul class="blog-meta">
                                        <li>Sep 23, 2019</li>
                                        <li><a href="#">Comments ( 04 )</a></li>
                                        <li>By <a href="#">Admin</a></li>
                                    </ul>

                                    <div class="blog-desc">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                                    </div>

                                    <div class="read-more"><a href="/blog/post/">READ MORE...</a></div>

                                </div>

                            </div>
                        </div>

                        <!-- Blog Item -->
                        <div class="col-xl-4 col-md-6 col-12 mb-45 mb-xs-50">
                            <div class="blog-item">

                                <div class="blog-image">
                                    <a href="/blog/post/"><img src="{% static 'images/blog/blog-9.jpg' %}" alt=""></a>
                                </div>

                                <div class="blog-content">

                                    <h4 class="blog-title"><a href="/blog/post/">CHECK OUT THIS GENIUS DESIGN PLAN</a></h4>

                                    <ul class="blog-meta">
                                        <li>Sep 18, 2019</li>
                                        <li><a href="#">Comments ( 04 )</a></li>
                                        <li>By <a href="#">Admin</a></li>
                                    </ul>

                                    <div class="blog-desc">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                                    </div>

                                    <div class="read-more"><a href="/blog/post/">READ MORE...</a></div>

                                </div>

                            </div>
                        </div>

                        <!-- Blog Load More -->
                        <div class="d-flex justify-content-center col-12 text-center mt-5 mt-xs-0">
                            <a class="load-blog-btn" href="#">LOAD MORE...</a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- Content Body End -->

    </div>

    <!-- JS
============================================ -->

    <!-- jQuery JS -->
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <!-- Popper JS -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Plugins JS -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- Ajax Mail -->
    <script src="{% static 'js/ajax-mail.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
