{% extends 'base.html' %}
{% load static %}
{% block title %}Leafloat Robotics – AI-Powered Autonomous Solutions{% endblock %}
{% block content %}
      <div class="content-body section custom-scroll">
        <div class="section-wrap section">
          <div class="container-fluid p-0">
            <div class="row row-5">
              <!-- Portfolio Slider -->
              <div class="portfolio-slider-5 col-12 p-0">
                {% for product in products %}
                <div class="col pl-5 pr-5">
                  <div class="portfolio-item portfolio-screen-height">
                    <a
                      href="{% url 'pages:product_detail' url_slug=product.url_slug %}"
                      class="portfolio-image"
                      style="
                        background-image: url({% static product.hero_image %});
                      "
                    ></a>
                    <div class="portfolio-content">
                      <h4 class="title">
                        <a href="{% url 'pages:product_detail' url_slug=product.url_slug %}">{{ product.name }}</a>
                      </h4>
                      <span class="category"
                        ><a href="#">{{ product.short_description }}</a></span
                      >
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
