{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content-body bg-grey section custom-scroll">
        <div
          class="section-wrap section pt-120 pt-lg-80 pt-md-80 pt-sm-80 pt-xs-50 pb-90 pb-lg-50 pb-md-50 pb-sm-50 pb-xs-20"
        >
          <div class="container">
            <!-- Team Wrap -->
            <div class="row">
              <!-- Team Item -->
              <div class="team-item col-lg-4 col-md-6 col-12 mb-30">
                <div class="team-inner">
                  <img src="{% static 'images/team/team-1.jpg' %}" alt="" />
                  <div class="team-content">
                    <h4>LEBMID JONSON</h4>
                    <span>Senior Developer</span>
                    <div class="team-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-dribbble"></i></a>
                      <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Team Item -->
              <div class="team-item col-lg-4 col-md-6 col-12 mb-30">
                <div class="team-inner">
                  <img src="{% static 'images/team/team-2.jpg' %}" alt="" />
                  <div class="team-content">
                    <h4>LEBMID JONSON</h4>
                    <span>Senior Developer</span>
                    <div class="team-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-dribbble"></i></a>
                      <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Team Item -->
              <div class="team-item col-lg-4 col-md-6 col-12 mb-30">
                <div class="team-inner">
                  <img src="{% static 'images/team/team-3.jpg' %}" alt="" />
                  <div class="team-content">
                    <h4>LEBMID JONSON</h4>
                    <span>Senior Developer</span>
                    <div class="team-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-dribbble"></i></a>
                      <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Content Body End -->
{% endblock %}
