{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content-body bg-grey section custom-scroll">
        <div class="product-hero-title section pt-120 pb-60 text-center" style="background-image: url({% static 'images/bg/title-bg-1.png' %}); background-size: cover; background-position: center;">
          <div class="container">
            <h1 class="display-4 fw-bold text-dark">Our Team</h1>
          </div>
        </div>
        <div
          class="section-wrap section pt-120 pt-lg-80 pt-md-80 pt-sm-80 pt-xs-50 pb-90 pb-lg-50 pb-md-50 pb-sm-50 pb-xs-20"
        >
          <div class="container">
            <!-- Team Wrap -->
            <div class="row">
              <!-- Team Item 1 -->
              <div class="team-item col-lg-4 col-md-6 col-12 mb-30">
                <div class="team-inner">
                  <img src="{% static 'images/team/team-1.jpg' %}" alt="" />
                  <div class="team-content">
                    <h4>Dr. Alex Chen</h4>
                    <span>CEO & Lead Roboticist</span>
                    <div class="team-social">
                      <a href="#"><i class="fa fa-facebook-f"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-linkedin-in"></i></a>
                      <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Team Item 2 -->
              <div class="team-item col-lg-4 col-md-6 col-12 mb-30">
                <div class="team-inner">
                  <img src="{% static 'images/team/team-2.jpg' %}" alt="" />
                  <div class="team-content">
                    <h4>Sarah Lee</h4>
                    <span>Head of AI Development</span>
                    <div class="team-social">
                      <a href="#"><i class="fa fa-facebook-f"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-linkedin-in"></i></a>
                      <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Team Item 3 -->
              <div class="team-item col-lg-4 col-md-6 col-12 mb-30">
                <div class="team-inner">
                  <img src="{% static 'images/team/team-3.jpg' %}" alt="" />
                  <div class="team-content">
                    <h4>Mark Davis</h4>
                    <span>Chief Operations Officer</span>
                    <div class="team-social">
                      <a href="#"><i class="fa fa-facebook-f"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-linkedin-in"></i></a>
                      <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Content Body End -->
{% endblock %}
